/* ### TO-DO ### */


/* img-alts */

html {
    background-color: #181818;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 480px;
    margin: auto;
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.heading {
    font-size: 0.4em;
    height: 2rem;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

#container {
    display: flex;
    flex-direction: column;
}

#popnewscont {
    display: flex;
    flex-direction: column;
    padding: 0% 5%;
    div {
        background-color: #0e0d0d;
    }
    div img {
        object-position: center;
        width: 100%;
    }
}

#topnewscont {
    display: flex;
    flex-direction: column;
    padding: 0% 5%;
    div {
        background-color: #0e0d0d;
    }
    div img {
        object-position: center;
        width: 100%;
    }
}

.article {
    margin: 5%;
}

.arttext {
    padding: 0 5% 3%;
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    text-align: center;
    overflow: hidden;
}


/* ################################################################## */

h1 {
    color: black;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

#header {
    width: 100%;
    min-height: 18vh;
    background-color: #5b191a;
    display: flex;
    justify-content: center;
    align-items: center;
    #headlogo {
        background-image: url(images/logo-newspaper-cf.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 20em;
        padding-top: 16%;
    }
    #cfbanner1 {
        display: none;
    }
}

#menu {
    width: 100%;
    background-color: #0e0d0d;
    ul {
        min-height: 3rem;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 5%;
        flex-wrap: wrap;
        li>a {
            font-size: 1rem;
        }
    }
}

#cfbanner2 {
    display: none;
}

#footer {
    min-height: 10rem;
    background-color: #0e0d0d;
    padding: 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    div:nth-of-type(2) {
        order: -1;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li>a {
            margin: 0 2.5vw 0;
            font-size: 0.9rem;
        }
    }
    #footlogo {
        background-image: url(images/logo-newspaper-cf.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 10rem;
        padding-top: 20%;
    }
}

#copyright {
    font-size: 0.6rem;
}